[submodule "VEngine\\vendor\\imgui"]
	path = VEngine\\vendor\\imgui
	url = https://github.com/Parsif/imgui
[submodule "VEngine\\vendor\\glfw"]
	path = VEngine\\vendor\\glfw
	url = https://github.com/Parsif/glfw
[submodule "VEngine\\vendor\\Vmath"]
	path = VEngine\\vendor\\Vmath
	url = https://github.com/Parsif/Vmath
