[submodule "VEngine/vendor/imgui"]
	path = VEngine/vendor/imgui
	url = https://github.com/Parsif/imgui
[submodule "VEngine/vendor/glfw"]
	path = VEngine/vendor/glfw
	url = https://github.com/Parsif/glfw
[submodule "VEngine/vendor/glm"]
	path = VEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "VEngine/vendor/yaml"]
	path = VEngine/vendor/yaml
	url = https://github.com/Parsif/yaml-cpp